.default {
  background-color: black;
  width: 700px;
  height: 100px;
  padding: 25px;
  border: 25px;
}

.radius {
  border-radius: 20px;
  background-color: black;
  width: 700px;
  height: 100px;
  padding: 25px;
  border: 25px;
}
