.pnl--default {
  background-color: black;
  width: 700px;
  height: 100px;
  padding: 25px;
  border: 25px;
}

.pnl--radius {
  border-radius: 20px;
  background-color: black;
  width: 700px;
  height: 100px;
  padding: 25px;
  border: 25px;
}

.pnl--small {
  background-color: darkgrey;
  padding: 5px 20px;
  margin: 3px;
  display: flex;
  align-items: center;
}
