/* :root {
  color-scheme: dark;
} */

/* button */

/* designs */
.btn {
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn--light {
  background-color: black;
  color: white;
  border: 'none';
  border-radius: 100;
  padding: 10;
}

.btn--dark {
  background-color: lightgray;
  color: black;
  border: 'none';
  border-radius: 100;
  padding: 10;
}

.btn--disabled {
  background-color: black;
  color: white;
  border: 'none';
  border-radius: 100;
  padding: 10;
  cursor: not-allowed;
}

.btn--orchestrate {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 0.9em;
  margin: 0 20px;
  border-radius: 40px;
  color: lightgrey;
}

.btn--icon--light {
  background-color: black;
  color: white;
  border: 'none';
  border-radius: 100;
  padding: 10;
}
.btn--icon--dark {
  background-color: lightgray;
  color: black;
  border: 'none';
  border-radius: 100;
  padding: 10;
}

/* sizes */
.btn--small {
  padding: 5px 15px;
  font-size: 16px;
}

.btn--medium {
  padding: 10px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 15px 30px;
  font-size: 20px;
}

/* checkbox */

.chk {
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}

.chk--light {
  background-color: #fefefe;
}

span.chk--dark {
  color: white;
}

.chk--dark {
  background-color: #3f3f3f;
}

.chk--disabled {
  cursor: not-allowed;
}

/* panel */

.pnl--default {
  background-color: #282828;
  width: 700px;
  height: 100px;
  padding: 25px;
  border: 25px;
}

.pnl--radius {
  border-radius: 20px;
  background-color: #282828;
  width: 700px;
  height: 100px;
  padding: 25px;
  border: 25px;
}

/* sizes */

.pnl--small {
  background-color: darkgrey;
  padding: 5px 20px;
  margin: 3px;
  display: flex;
  align-items: center;
}

/* valueLabelPair */

.vlp--stacked--light {
  color: black;
  display: inline-block;
}

.vlp--inline--light {
  color: black;
  display: flex;
}

.vlp--stacked--dark {
  color: lightgrey;
  display: inline-block;
}

.vlp--inline--dark {
  color: lightgrey;
  display: flex;
}
